*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  color: #ffff;
  background-color: #1b1b32;
  font-family: lato, sans-serif;
  font-size: 20px;
}

h1{
  color: #1b1b32;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  margin: 20px auto;
  width: fit-content;
}

.aplicacion-tareas{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logo-contenedor{
  width: 100%;
}

.logo{
  width: 10rem;
  display: block;
  margin: 20px auto;
  border-radius: 20px;
}
/* Lista de tareas */
.tareas-lista-principal{
  width: 600px;
  min-height: 500px;
  background-color: #d0d0d5;
  padding: 25px;
  margin: 10px;
  border-radius: 20px;
}